@import 'settings';

* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

// header
.header_background {
    background: $gradientOverlay2, url(https://unsplash.it/800/400/?image=1061);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    .logo_img {
        height: 40px;
        width: 40px;
        margin-left: 50px;
        margin-top: 20px;
    }
    .header_logo_font {
        display: inline-block;
        color: $color1;
        font-size: 16px;
        padding-left: 10px;
        padding-top: 20px;
        vertical-align: middle;
    }
    .header_nav_font {
        font-family: $headerFont;
        color: $color1;
        font-size: 18px;
        padding-top: 30px;
        padding-right: 50px;

        a {
            color: $color1;
        }
        .search_img {
            width: 23px;
            height: 23px;
            padding-bottom: 5px;
        }
    }
    .header_main_font {
        color: white;
        font-size: 80px;
        padding-top: 150px;
        padding-right: 10px;
        padding-left: 10px;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
    .header_minor_font {
        color: $color1;
        font-size: 16px;
        padding-bottom: 150px;
        padding-top: -20px;
    }
}
main {
    padding-top: 50px;

    .main_header_font {
        font-family: $headerFont;
        font-size: 70px;
        color: $color1;
        text-transform: uppercase;
        line-height: 70px;
    }
    .minor_header_font {
        color: $color2;
        font-size: 14px;
        padding-top: 20px;
        padding-left: 5px;
        display: inline-block;
        vertical-align: bottom;
    }
    .minor_date_font {
        display: inline-block;
        color: $color3;
        vertical-align: bottom;
        padding-left: 10px;

        a {
            color: $color3;
            text-decoration: underline;
        }
        a:hover {
            color: black;
        }
    }
    .author_photo_one {
        height: 30px;
        width: 30px;
        background: $gradientOverlay1, url(https://unsplash.it/800?image=838);
        background-size: cover;
        border-radius: 50%;
        display: inline-block;
    }
    p {
        padding-top: 50px;
        padding-right: 20px;
        font-size: 16px;
        color: gray;
        word-spacing: 3px;
        font-family: $paragraphFont;

        a {
            color: $color3;
            text-decoration: underline;
        }
    }
    #second_section {
        padding-top: 0px;
    }
    .breakout_quote {
        border-left: 1px solid $color3;
        color: $color2;
        text-transform: uppercase;
        padding-left: 20px;
        margin-left: 5px;
        font-size: 30px;
        font-family: $paragraphFont;
    }
    .button_icons {
      background-color: $color4;
      color: white;
      font-size: 18px;
      padding-top: 7px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 10px;


      &:hover {
         transition: $hoverTransition;
        background-color: $color1;
      }
    }
    .main_buttons {
      background-color: $color3;
      color: white;
      padding-right: 10px;
      display: inline-block;

      &:hover {
        transition: $hoverTransition;
        background-color: $color2;
      }
    }

    // sidebar
    .author_photo_two {
        margin: 0 auto;
        height: 100px;
        width: 100px;
        background: $gradientOverlay1, url(https://unsplash.it/800?image=838);
        background-size: cover;
        border-radius: 50%;
    }
    .sidebar_author_font {
        color: $color2;
        font-size: 18px;
        padding-top: 15px;
        font-family: $paragraphFont;
    }
    .sidebar_ul {
        color: $color3;
        font-family: $paragraphFont;
        text-decoration: none;

        a:hover {
            text-decoration: underline;
            color: black;
        }
    }
    .sidebar_social_dividers {
        opacity: .3;
    }
    .sidebar_links {
      color: $color3;
      vertical-align: bottom;
      padding-left: 10px;

      a {
          color: $color3;
          text-decoration: underline;
      }
      a:hover {
          color: black;
      }
  }
  .sidebar_ad {
      margin-top: 50px;
      width: 100%;
      height: 30vw;
      background: $gradientOverlay1, url(https://unsplash.it/800?image=1011);
      background-size: cover;
      background-position: 50% 50%;
      &:hover {
          color: white;
          background:url(http://unsplash.it/800?image=1011);
          background-size: cover;
          background-position: 50% 50%;
        }
  }
    .sidebar_heading {
        color: $color2;
        font-family: $headerFont;
        text-transform: uppercase;
        font-size: 18px;
        margin-top: 50px;
    }
    #sidebar_p {
        color: $color3;
        font-size: 15px;
        padding-top: 10px;
    }
}
// footer
.footer_header {
    margin-top: 50px;
    border-top: 1px solid $color3;

    .footer_header_font {
        font-family: $headerFont;
        font-size: 70px;
        color: $color1;
        text-transform: uppercase;
        line-height: 70px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.footer_photos {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .photo_one, .photo_two, .photo_three, .photo_four {
        flex: 1;
        max-width: 100%;
        position: relative;
        color: $color1;
    }
    .photo_one {
        background: $gradientOverlay2, url(http://unsplash.it/800?image=660);
        background-size: cover;
        &:hover {
            color: white;
            background: url(http://unsplash.it/800?image=660);
            background-size: cover;
            cursor: pointer;
        }
    }
    .photo_two {
        background: $gradientOverlay2, url(http://unsplash.it/800?image=817);
        background-size: cover;
        &:hover {
            color: white;
            background: url(http://unsplash.it/800?image=817);
            background-size: cover;
            cursor: pointer;
        }
    }
    .photo_three {
        background: $gradientOverlay2, url(http://unsplash.it/800?image=785);
        background-size: cover;
        &:hover {
            color: white;
            background: url(http://unsplash.it/800?image=785);
            background-size: cover;
            cursor: pointer;
        }
    }
    .photo_four {
        background: $gradientOverlay2, url(http://unsplash.it/800?image=766);
        background-size: cover;

        &:hover {
            color: white;
            background:url(http://unsplash.it/800?image=766);
            background-size: cover;
            cursor: pointer;
          }
      }
  }
    .photo_text {
        font-family: $headerFont;
        font-size: 35px;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        left: 5px;
    }
.footer_bottom {
    background-color: $color1;
    height: 90px;

    img {
        height: 50px;
        width: 50px;
    }
    .footer_bottom_font {
        color: $color3;
        display: inline-block;
        padding-top: 30px;
        padding-left: 10px;
    }
    ul {
        color: $color3;
        padding-top: 30px;
    }
    a {
        color: $color3;
    }
}

// media queries
@media all and (max-width: 767px) {
    .footer_photos {
        flex-direction: column;
    }
}
