* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.header_background {
  background: linear-gradient(rgba(16, 109, 179, 0.8), rgba(16, 109, 179, 0.8)), url(https://unsplash.it/800/400/?image=1061);
  background-repeat: no-repeat;
  background-size: cover;
}

header .logo_img {
  height: 40px;
  width: 40px;
  margin-left: 50px;
  margin-top: 20px;
}

header .header_logo_font {
  display: inline-block;
  color: #083451;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 20px;
  vertical-align: middle;
}

header .header_nav_font {
  font-family: "Oswald", sans-serif;
  color: #083451;
  font-size: 18px;
  padding-top: 30px;
  padding-right: 50px;
}

header .header_nav_font a {
  color: #083451;
}

header .header_nav_font .search_img {
  width: 23px;
  height: 23px;
  padding-bottom: 5px;
}

header .header_main_font {
  color: white;
  font-size: 80px;
  padding-top: 150px;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

header .header_minor_font {
  color: #083451;
  font-size: 16px;
  padding-bottom: 150px;
  padding-top: -20px;
}

main {
  padding-top: 50px;
}

main .main_header_font {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  color: #083451;
  text-transform: uppercase;
  line-height: 70px;
}

main .minor_header_font {
  color: #106DB3;
  font-size: 14px;
  padding-top: 20px;
  padding-left: 5px;
  display: inline-block;
  vertical-align: bottom;
}

main .minor_date_font {
  display: inline-block;
  color: #9EA4A9;
  vertical-align: bottom;
  padding-left: 10px;
}

main .minor_date_font a {
  color: #9EA4A9;
  text-decoration: underline;
}

main .minor_date_font a:hover {
  color: black;
}

main .author_photo_one {
  height: 30px;
  width: 30px;
  background: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(https://unsplash.it/800?image=838);
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
}

main p {
  padding-top: 50px;
  padding-right: 20px;
  font-size: 16px;
  color: gray;
  word-spacing: 3px;
  font-family: "Gudea", sans-serif;
}

main p a {
  color: #9EA4A9;
  text-decoration: underline;
}

main #second_section {
  padding-top: 0px;
}

main .breakout_quote {
  border-left: 1px solid #9EA4A9;
  color: #106DB3;
  text-transform: uppercase;
  padding-left: 20px;
  margin-left: 5px;
  font-size: 30px;
  font-family: "Gudea", sans-serif;
}

main .button_icons {
  background-color: #5E686F;
  color: white;
  font-size: 18px;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

main .button_icons:hover {
  background-color: #083451;
}

main .main_buttons {
  background-color: #9EA4A9;
  color: white;
  padding-right: 10px;
  display: inline-block;
}

main .main_buttons:hover {
  background-color: #106DB3;
}

main .author_photo_two {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(https://unsplash.it/800?image=838);
  background-size: cover;
  border-radius: 50%;
}

main .sidebar_author_font {
  color: #106DB3;
  font-size: 18px;
  padding-top: 15px;
  font-family: "Gudea", sans-serif;
}

main .sidebar_ul {
  color: #9EA4A9;
  font-family: "Gudea", sans-serif;
  text-decoration: none;
}

main .sidebar_ul a:hover {
  text-decoration: underline;
  color: black;
}

main .sidebar_social_dividers {
  opacity: .3;
}

main .sidebar_links {
  color: #9EA4A9;
  vertical-align: bottom;
  padding-left: 10px;
}

main .sidebar_links a {
  color: #9EA4A9;
  text-decoration: underline;
}

main .sidebar_links a:hover {
  color: black;
}

main .sidebar_ad {
  margin-top: 50px;
  width: 100%;
  height: 30vw;
  background: linear-gradient(rgba(16, 109, 179, 0.4), rgba(16, 109, 179, 0.4)), url(https://unsplash.it/800?image=1011);
  background-size: cover;
}

main .sidebar_heading {
  color: #106DB3;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 50px;
}

main #sidebar_p {
  color: #9EA4A9;
  font-size: 15px;
  padding-top: 10px;
}

.footer_header {
  margin-top: 50px;
  border-top: 1px solid #9EA4A9;
}

.footer_header .footer_header_font {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  color: #083451;
  text-transform: uppercase;
  line-height: 70px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer_photos {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer_photos .photo_one, .footer_photos .photo_two, .footer_photos .photo_three, .footer_photos .photo_four {
  flex: 1;
  max-width: 100%;
  position: relative;
  color: #083451;
}

.footer_photos .photo_one {
  background: linear-gradient(rgba(16, 109, 179, 0.8), rgba(16, 109, 179, 0.8)), url(http://unsplash.it/800?image=660);
  background-size: cover;
}

.footer_photos .photo_one:hover {
  color: white;
  background: url(http://unsplash.it/800?image=660);
  background-size: cover;
}

.footer_photos .photo_two {
  background: linear-gradient(rgba(16, 109, 179, 0.8), rgba(16, 109, 179, 0.8)), url(http://unsplash.it/800?image=817);
  background-size: cover;
}

.footer_photos .photo_two:hover {
  color: white;
  background: url(http://unsplash.it/800?image=817);
  background-size: cover;
}

.footer_photos .photo_three {
  background: linear-gradient(rgba(16, 109, 179, 0.8), rgba(16, 109, 179, 0.8)), url(http://unsplash.it/800?image=785);
  background-size: cover;
}

.footer_photos .photo_three:hover {
  color: white;
  background: url(http://unsplash.it/800?image=785);
  background-size: cover;
}

.footer_photos .photo_four {
  background: linear-gradient(rgba(16, 109, 179, 0.8), rgba(16, 109, 179, 0.8)), url(http://unsplash.it/800?image=766);
  background-size: cover;
}

.footer_photos .photo_four:hover {
  color: white;
  background: url(http://unsplash.it/800?image=766);
  background-size: cover;
}

.footer_photos .photo_text {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 5px;
}

.footer_bottom {
  background-color: #083451;
  height: 90px;
}

.footer_bottom img {
  height: 50px;
  width: 50px;
}

.footer_bottom .footer_bottom_font {
  color: #9EA4A9;
  display: inline-block;
  padding-top: 30px;
  padding-left: 10px;
}

.footer_bottom ul {
  color: #9EA4A9;
  padding-top: 30px;
}

.footer_bottom a {
  color: #9EA4A9;
}

@media all and (max-width: 900px) {
  .footer_photos {
    flex-direction: column;
  }
}
